.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
    display: flex;
    flex-direction: row;
    background-color: #18202f;
}

.panel {
  padding: 5px 15px 15px 15px;
  background-color: #283245;
  border-radius: 10px;
  height: 100%;
  margin: 8px 18px 3px 3px;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  
}

.search-panel {

}

.search {
    display: flex;
    flex-direction: column;
}

.league-panel {
}

.league-grid {
    
}

.position-filter {
    width: max-content;
}

.single-player-item {
    border: 2px solid #4b576b;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    margin-top: 3px;
}

.player-grid {

}

.player-name {
    display: flex;
}

.player-info {
    display: flex;
    flex-direction: row;
}

.player-info-item {
    font-size: small;
}

.RB {
    background: #00ceb8;
}

.WR {
    background: #58a7ff;
}

.TE {
    background: #ffae58;
}

.QB {
    background: #ff2a6d;
}

.available {
    opacity: .45;
}

.search-results {

}

.roster-positions {

}

.latest-update {
  margin: 0px 0px 6px 3px;
  font-size: small;
}

.title {
  margin: 0px 0px 6px 3px;
}

.button {
    background: transparent;
    color: #fff;
    border: 1px solid #a3bbd3;
    font-size: medium;
    height: 30px;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 15px;
}

.button:hover {
  color: #00d8a7;
  transform: scale(1.02);
  border-color: #00d8a7;
}

.input {
  margin-top: 8px;
  background: transparent;
  caret-color: #ddd;
  color: #fff;
  border: 2px solid #4b576b;
  border-radius: 10px;
  height: 100px;
  width: 85%;
}