.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.single-player-item {
    border-color: black;
    border-top-style: solid;
    border-right: solid;
    padding: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
    margin-right: 9px;
}

.player-name {
    display: flex;
}

.player-info {
    display: flex;
    flex-direction: row;
    margin: 1px 0px 3px;
}

.player-info-item {
    margin-right: 9px;
    font-size: small;
}

.RB {
    background: #00ceb8;
}

.WR {
    background: #58a7ff;
}

.TE {
    background: #ffae58;
}

.QB {
    background: #ff2a6d;
}

.available {
    opacity: 45%;
}

.search-results {
  width: fit-content;
  display: flex;
  flex-direction: column;
}
